.banner
    background url('https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat 0px 0px
    background-size cover
    min-height 1136px
    h3
        color #fff
        font-size 30px
        letter-spacing 1px
        text-transform uppercase
        padding-top 15%
        font-weight 300
        text-align center
    h2
        color #fff
        font-size 50px
        letter-spacing 1px
        font-weight 700
        text-transform uppercase
        margin 30px 0px
        text-align center
        span
            color #1ed88b
    p
        font-size 1em
        text-align center
        color #FFF
        letter-spacing 2px
        line-height 1.8em
    h4
        color #fff
        font-size 3em
        line-height 1.8em
        border 2px solid #1ed88b
        width 20%
        margin 30px auto
        text-align center
        position relative
        text-transform capitalize
        span
            position absolute
            background #fff
            border 10px solid #1ed88b
            width 30%
            top 88%
            left 35%
        a
            color #fff
.about,.w3-edu-main,.gallery,.news,.team,.about,.w3-services
    padding 5em 0

.w3-edu-head h3,.title-w3,.heading h3,.w3ls-heading h3,.w3-about-head h3,.gallery-w3-head h4,.w3-services-head h3
    font-size 3.5em
    color #ffc107
    font-family 'Libre Franklin', sans-serif
    font-weight 500
    text-align center
    margin-bottom 1em
    text-transform uppercase
    letter-spacing 3px

.w3-agileitsline
    h3
        line-height 40px
        color #777
        font-weight 600
        width 85%
        margin 0 auto
        text-align center
        span
            color #1ed88b
    p
        font-size 1em
        color #9E9E9E
        text-align center
        margin 1em 0

.about-agileinfo-grid
    h5
        font-size 2em
        font-weight 600
        margin-bottom 20px
        color #F44336
    li
        display block
        margin 15px 0
        font-weight 600
        color #999
        span
            &.glyphicon
                margin-right 10px
                color #bdd001

.about-agileinfo-list1
    text-align center

.about-agileinfo-list2
    text-align center

.agileits_banner_bottom_left
    background url(../assets/main/ab143.jpg) no-repeat 0px 0px
    background-size cover
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    -ms-background-size cover

.agileits_banner_bottom_left1
    background url(../assets/main/ab1432.jpg) no-repeat 0px 0px
    background-size cover
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    -ms-background-size cover

.agileits_banner_bottom_left2
    background url(../assets/main/ab1433.jpg) no-repeat 0px 0px
    background-size cover
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    -ms-background-size cover

.agileits_banner_bottom_left,.agileits_banner_bottom_left1,.agileits_banner_bottom_left2
    min-height 335px
    position relative

.agileinfo_banner_bottom_pos
    position absolute
    top 0%
    left 0%
    width 100%
    height 100%
    background rgba(25, 25, 25, 0.55)

.w3_agileits_banner_bottom_pos_grid
    padding 4em 3em
    text-align center

.wthree_banner_bottom_grid_right
    h4
        font-size 1.5em
        color #34ce88
        margin-top 0.5em
        text-transform capitalize
    p
        color #fff
        line-height 2em
        letter-spacing 1px

.agile_banner_bottom_grid_left_grid
    width 100px
    height 100px
    border 2px solid #fff
    text-align center
    i
        font-size 2em
        color #fff
        line-height 3em

.agileits_banner_bottom_left:hover .agile_banner_bottom_grid_left_grid i,
.agileits_banner_bottom_left1:hover .agile_banner_bottom_grid_left_grid i,
.agileits_banner_bottom_left2:hover .agile_banner_bottom_grid_left_grid i
    color #212121

.agileits_banner_bottom_left:hover .agileinfo_banner_bottom_pos,
.agileits_banner_bottom_left1:hover .agileinfo_banner_bottom_pos,
.agileits_banner_bottom_left2:hover .agileinfo_banner_bottom_pos
    background rgba(25, 25, 25, 0.7)

.hvr-radial-out
    display inline-block
    vertical-align middle
    -webkit-transform perspective(1px) translateZ(0)
    transform perspective(1px) translateZ(0)
    box-shadow 0 0 1px transparent
    position relative
    overflow hidden
    background transparent
    -webkit-transition-property color
    transition-property color
    -webkit-transition-duration 0.3s
    transition-duration 0.3s
    &:before
        content ""
        position absolute
        z-index -1
        top 0
        left 0
        right 0
        bottom 0
        background #34ce88
        border-radius 100%
        -webkit-transform scale(0)
        transform scale(0)
        -webkit-transition-property transform
        transition-property transform
        -webkit-transition-duration 0.3s
        transition-duration 0.3s
        -webkit-transition-timing-function ease-out
        transition-timing-function ease-out

.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active
    color white

.hvr-radial-out:hover:before, .hvr-radial-out:focus:before,.agileits_banner_bottom_left:hover .hvr-radial-out:before
,.agileits_banner_bottom_left1:hover .hvr-radial-out:before,.agileits_banner_bottom_left2:hover .hvr-radial-out:before,
.w3_agile_services_grid:hover .hvr-radial-out:before,.w3_agileits_services_bottom_grid:hover .hvr-radial-out:before,
.w3layouts_mail_grid_left:hover .hvr-radial-out:before
    -webkit-transform scale(2)
    transform scale(2)

.w3-services-right1-grid
    li
        display inline
        p
            margin-bottom 2em
            line-height 1.8em
            letter-spacing 1px
            font-size 1em
        span
            font-size 2em
            color #1ed88b
    h3
        margin 1em 0
        color #1ed88b
        font-size 2em
        letter-spacing 0.5px
        text-align center